[user]
	name  = Chris Dueck
	email = chris.dueck@wattpad.com

[diff]
	algorithm = patience
	tool = vimdiff

[difftool]
	prompt = false

[merge]
    algorithm = patience
    tool = vimdiff

[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    path = /usr/local/bin/vimdiff

[push]
	default = current
	autosetupremote = true

[rebase]
	autosquash = true

[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
