[user]
	name  = Chris Dueck
	email = chris.dueck@wattpad.com

[diff]
	algorithm = patience
	tool = vimdiff

[difftool]
	prompt = false

[merge]
    algorithm = patience
    tool = vimdiff

[mergetool]
    keepBackup = false

[mergetool "vimdiff"]
    path = /usr/local/bin/vimdiff

[url "ssh://git@github.com/Wattpad/"]
	insteadOf = "wp:"

[url "ssh://git@github.com/"]
	insteadOf = "gh:"

[url "ssh://git@github.com/"]
    insteadOf = https://github.com/

[push]
	default = current
