vim/.vim/bundle/*
mpd/.mpd/database
mpd/.mpd/log
mpd/.mpd/pid
mpd/.mpd/state
mpd/.mpd/playlists
ranger/.config/ranger/bookmarks
ranger/.config/ranger/history
vim/.vim/.netrwhist
xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors
xmonad/.xmonad/xmonad.hi
xmonad/.xmonad/xmonad.o
irssi/.irssi/saved_colors
