configuration {
	modi: "run,drun,window";
	font: "Hack Nerd Font Regular 12";
	terminal: "alacritty";
	hide-scrollbar: true;

	matching: "fuzzy";

	show-icons: true;
	icon-theme: "Papirus";

	display-drun: " ";
	display-run: " ";
	display-window: " ";
	drun-display-format: "{icon} {name}";
	drun-display-format: "{icon} {name}";
}

@theme "catppuccin-mocha"
